.dbLandingContainer {
    width: 80vw;
    margin-left: 10vw;
    margin-top: 1em;

}

header {
  text-align: center;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.dbLandingSquares {
    padding-top: 1em;
    text-align: center;
}

.dbLandingSquares > ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1em;
}

.featureItems {
    padding: 0;
}

.featureItems > li {
    list-style: none;
    
}



/*
.dbLandingContainer {
    margin: 0;
    text-align: center;
    color: #1E1E23;
    font-family: 'Be Vietnam', sans-serif;
    display: grid;
    width: 90%;
    margin-left: 5%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "header header header"
        "contentCol1 contentCol2 contentCol3"
}

header {
    grid-area: header;
    padding: 1em 1em;
}

section ul {
    list-style: none;
    padding: 0;
    font-size: 1.4em;
}

section:nth-of-type(1) {
    grid-area: contentCol1;
    padding: 1em 1em;
}
section:nth-of-type(2) {
    grid-area: contentCol2;
    padding: 1em 1em;
}
section:nth-of-type(3) {
    grid-area: contentCol3;
    padding: 1em 1em;
}

@media only screen and (min-width: 768) {
    .dbLandingContainer {
        margin: 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
            "header"
            "contentCol1" 
            "contentCol2"
            "contentCol3"
    }
}
*/