.landingContainer {
    width: 90%;
    margin-left: 5%;
    padding-top: 4em;
    padding-bottom: 3em;
    background: yellow;
    text-align: center;
}

.landingHeader {
    width: 100%;
    background-color: red;
    padding-top: 5em;
}

.landingContent {
    width: 100%;
    background-color: green;
}

.landingFeatureList {
    list-style:  none;
    padding: 0;
}