.noteContainer {
    margin: 0;
    padding-top: 4em;
    text-align: center;
    color: grey;
    display: grid;
    grid-template-columns: 1fr;

    grid-template-areas: 
        "header"
        "content"
}


.noteContent {
    grid-area: content;
    font-size: 1.75em;
    margin: 0em 1em;
}
