.addNoteContainer {
    margin: 0;
    padding-top: 4em;
    text-align: center;
    color: grey;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "header"
        "content"
}

.textEditorContainer {
    grid-area: content;
    background-color: lightgrey;
    color: #fff;
    height: 50vh;
    width: 80vw;
    margin-left: 10vw;
}