.addNoteContainer {
    margin: 0;
    padding-top: 4em;
    text-align: center;
    color: grey;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "header"
        "content"
}

.textEditorContainer {
    grid-area: content;
    
}