.addNoteContainer {
    width: 90%;
    margin-left: 5%;
    padding-top: 4em;
    padding-bottom: 3em;
    background: yellow;
    text-align: center;
}

.textEditorContainer {
    background: red;
    
}