.dbBookContainer {
 width: 80vw;
 margin-left: 10vw;
}

.bookHeader {
    width: 100%;
    text-align: center;
}

.noteList {
    text-align: center;
    padding-top: 1em;
}
.noteList ul {
    list-style: none;
    font-size: 1.5em;
    padding: 0;
}