.dbBookContainer {
    margin: 0;
    padding-top: 4em;
    text-align: center;
    color: grey;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "header header"
        "contentCol1 contentCol2"
}

section:nth-of-type(1) {
    grid-area: contentCol1;
    background-color: #ffa114;

}

section:nth-of-type(2) {
    grid-area: contentCol2;
    background-color:green;
    
}
    .btnBookNewNote {
        -moz-box-shadow: 0px 10px 9px -9px #000000;
        -webkit-box-shadow: 0px 10px 9px -9px #000000;
        box-shadow: 0px 10px 9px -9px #000000;
        background-color:transparent;
        -moz-border-radius:4px;
        -webkit-border-radius:4px;
        border-radius:4px;
        border:1px solid #ffa114;
        display:inline-block;
        cursor:pointer;
        color:#ffa114;
        font-family:Arial;
        font-size:19px;
        font-weight:bold;
        padding:6px 12px;
        text-decoration:none;
    }
    .btnBookNewNote:hover {
        background-color:transparent;
    }
    .btnBookNewNote:active {
        position:relative;
        top:1px;
    }