.module {
  border:2px solid green;
  color: #1E1E23;
  border-radius: 5px;
  padding-bottom: 1.5em;
  font-family: 'Be Vietnam', sans-serif;
  font-size: 10px;
  margin-bottom: 1em;
}

.readBookGrid {
  margin-top: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
  text-align: center;
}
  
@media only screen and (max-width: 750px) {
  .readBookGrid {
    grid-template-columns: 1fr;
    grid-gap: 50px;
  }
}
  