.module {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  width: 100%;
  margin: 1em;
  font-size: 10px;
}

.readBookGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
  text-align: center;
}
  
@media only screen and (max-width: 750px) {
  .readBookGrid {
    grid-template-columns: 1fr 1fr;
  }
}
  