.fullBg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../../img/bg.jpg');
}

.homeContainer1 {
    display: grid;
    height: 100vh;
    grid-template-rows: 20vh;
}

.homeNav {
    width: 100%;
    padding: 1em 0 1em 0;
    align-self: start;
    text-align: right;
    
}

.navBtn {
    margin: 0 1em 0 1em;
    padding: 0.5em;
    font-size: 1.25em;
    color: #fff;
    font-weight: 300;
    border-radius: 10px;
    border: #FFF 2px solid;
    background-color: transparent;
    transition: 0.3s;
    cursor: pointer;
}

.navBtn:hover {
    opacity: 1;
    background: #FFF;
    color: #000;
}

.linkTxt2 {
    font-family: 'Source Sans Pro', sans-serif;
}

.homeIntro {
    color: #fff;
    height: 80%;
    width: 80%;
    align-self: center;
    margin: 1em 0 0 4em;
    font-family: 'Be Vietnam', sans-serif;
}

.ctaBtn {
    width: 100vw;
    text-align: center;
}

.homeFeatureList {
    background: #FFF;
    padding: 2em 0 2em 0;
    text-align: center;
    font-family: 'Be Vietnam', sans-serif;
    color: grey;
}

.list ul {
    margin: 1em;
    list-style: none;
}

.list li {
    font-size: 3em;
    margin: 1em 0;
}

.featureTitle { 
    font-size: 5em;
}

.actionBtn {
    padding: 0.5em;
    font-size: 1.25em;
    color: #fff;
    font-weight: 300;
    border-radius: 10px;
    border: #FFF 2px solid;
    background-color: transparent;
    transition: 0.3s;
    margin: 1em;
    width: 10em;
}

.actionBtn:hover {
    opacity: 1;
    background: #FFF;
    color: #000;
    cursor: pointer;
}

