body {
    overflow-x: hidden;
}

.vertical-align {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.tex-center {
    text-align: center;
}

.navbar {
    background-color: #F76300;
}

.content {
    padding: 1em 0 1em 0;
    color: grey;
}

.nav-icon {
    width: 3em;
    height: 3em;
    margin: 0 0.75em 0 0.75em;
}

.book {
    background-color: pink;
    height: 30em;
    background-clip: padding-box;
    border: 10px solid transparent;
}

