.txtEditBtnContainer {
    text-align: center;
    padding: .5em;
    background-color: darkgrey;
    border-radius: 12px;
    margin-bottom: 1em;
}

.titleInput {
    background: #fff;
    width: 90%;
}

.txtEditInput {
    background-color: red;
}

.txtEditBtnContainer button:hover {
    transition: 0.3s;
    color: #fff;
    background-color: lightgrey;
}